/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column; /* Align children vertically */
    min-height: 100vh; /* Ensure full viewport height */
}

.container {
    width: 80%;
    max-width: 1200px; /* Limit maximum width */
    margin: auto;
    overflow: hidden;
    padding-top: 100px; /* Adjusted padding */
}

/* Navigation Bar Styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0; /* Adjusted padding */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure it's above other content */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px; /* Reduced font size */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 15px; /* Reduced margin */
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Main Content Styles */
.container2 {
    margin-left: 500px;
    margin-top: 200px;
    padding-top: 60px; /* Adjusted padding */
}

.container h2 {
    margin-top: 30px; /* Reduced margin */
    font-size: 30px; /* Reduced font size */
}

.container p {
    font-size: 16px; /* Reduced font size */
    margin-bottom: 10px; /* Reduced margin */
}

.btn {
    padding: 8px 16px; /* Reduced padding */
    font-size: 14px; /* Reduced font size */
    border-radius: 3px; /* Smaller border radius */
}

.btn:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative
    ;
    bottom: 0;
}
